<form class="delete_answer" method='post' action='/questions/<%= answer.question_id %>/answers/<%= answer.id %>'>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
