<form class="new-answer" method='post' action='/questions/<%= question.id %>/answers'>
  <input type="textarea" name="text" placeholder="First of all...">
  <input type="submit" value="Post Your Answer">
</form>
