<% if !logged_in? %>
   <li><a id="login-button" href="/login">Login</a></li>
   <li><a id="register-button" href="/users/new">Register</a></li>
<% else %>
   <li><a href="/users/<%= "#{current_user_id}" %>"><%= logged_in_user.username %></li>
   <li><a id="logout-button" href="/logout">Logout</a></li>
<% end %>
  <li><a href="/">Home</a></li>
