<div class="container">
  <h1>Sign in</h1>
    <% if @errors %>
      <p><%= @errors.each {|error| error} %></p>
    <% end %>

  <form action="/login" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>
</div>
