<% if @errors %>
  <%= erb :_errors, layout: false, locals: {errors: @errors} %>
<% end %>

<div class="container" id="comment-question">
  <form class="question-comment-form" action="/questions/<%= @question.id %>/comments" method="post">
    <label for="comment">Comment:</label>
    <input type="text" name="text" placeholder="Comment">
    <input type="submit" id="post-question-comment" value="Post Comment">
  </form>
</div>
