<div class="container" id="question">
  <form class="question-form" action="/questions" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="title">
    <label for="content">Question content:</label>
    <input type="textarea" name="text" placeholder="content">
    <input type="submit" id="post-question" value="Post Question">
  </form>
</div>
