<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wolf Overflow</title>
  </head>
  <body>
    <div class="container">
      <h3>Wolf Overflow</h3>

      <% @questions.each do |question| %>

      <table id="question-list">
        <tr>
        <td><%= Vote.vote_count(question) %></td>
          <td><a href="/questions/<%= question.id %>"><%= question.title %></a>
          </td>
        </tr>
      </table>
      <% end %>

      <% if logged_in? %>
        <%= erb :"/questions/_new_question_form", layout: false %>
      <% end %>
    </div>
  </body>
</html>
